{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Blogs' %}{% endblock %}

{% block id %}id="blog-list-sidebar-left"{% endblock %}
{% block class %}class="blog"{% endblock %}

{% block content %}
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="#">
                                                <span>{% trans 'Home' %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>{% trans 'Blogs' %}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>

                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                        <!-- category filter -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans 'Categories' %}</div>
                                            <div class="block-content">
                                                <!-- Show All link -->
                                                <div class="cateTitle">
                                                    <a class="cateItem {% if not selected_category %}active{% endif %}"
                                                       href="{% url 'blogs:list' %}">
                                                        {% trans 'All' %}
                                                    </a>
                                                </div>
                                                {% for category in categories %}
                                                    <div class="cateTitle hasSubCategory open level1">
                                                        <span class="arrow collapse-icons collapsed"
                                                              data-toggle="collapse"
                                                              data-target="#cat-{{ category.id }}"
                                                              aria-expanded="false"
                                                              role="status">
                                                            <i class="zmdi zmdi-minus"></i>
                                                            <i class="zmdi zmdi-plus"></i>
                                                        </span>
                                                        <a class="cateItem {% if selected_category == category.id|stringformat:'s' %}active{% endif %}"
                                                           href="?category={{ category.id }}">
                                                            {{ category.title }}
                                                        </a>
                                                        <div class="subCategory collapse" id="cat-{{ category.id }}"
                                                             aria-expanded="true" role="status">
                                                            {% for sub_cat in category.children.all %}
                                                                <div class="cateTitle">
                                                                    <a class="cateItem {% if selected_category == sub_cat.id|stringformat:'s' %}active{% endif %}"
                                                                       href="?category={{ sub_cat.id }}">
                                                                        {{ sub_cat.title }}
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- recent posts -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans 'Recent Posts' %}</div>
                                            <div class="post-item-content">
                                                {% for post in recent_posts %}
                                                    <div class="late-item first-child">
                                                        <a href="{% url 'blogs:detail' pk=post.id %}">
                                                            <p class="content-title">{{ post.title }}</p>
                                                        </a>
                                                        <span>
                                                            <i class="zmdi zmdi-calendar-note"></i>
                                                            {{ post.created_at|date:"d F Y" }}
                                                        </span>
                                                        <p class="description">
                                                            {{ post.short_description|truncatechars:30 }}
                                                        </p>
                                                        <p class="remove">
                                                            <a href="{% url 'blogs:detail' pk=post.id %}">
                                                                {% trans 'READ MORE' %}
                                                            </a>
                                                        </p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- tags filter -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">{% trans 'Blog Tags' %}</div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    <!-- Show All tags link -->
                                                    <li>
                                                        <a href="{% url 'blogs:list' %}"
                                                           class="{% if not selected_tag %}active{% endif %}">
                                                            {% trans 'All Tags' %}
                                                        </a>
                                                    </li>
                                                    {% for tag in tags %}
                                                        <li>
                                                            <a href="?tag={{ tag.id }}"
                                                               class="{% if selected_tag == tag.id|stringformat:'s' %}active{% endif %}">
                                                                {{ tag.title }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- advertising -->
                                        <div class="sidebar-block group-image-special">
                                            <div class="effect">
                                                <a href="#">
                                                    <img class="img-fluid"
                                                         src="{% static 'img/blog/advertising.jpg' %}"
                                                         alt="banner-2">
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- main blog list -->
                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h2>{% trans 'Recent Posts' %}</h2>

                                        {% for blog in blogs %}
                                            <div class="list-content row">
                                                <div class="hover-after col-md-5 col-xs-12">
                                                    <a href="{% url 'blogs:detail' pk=blog.id %}">
                                                        {% if blog.image %}
                                                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="late-item col-md-7 col-xs-12">
                                                    <p class="content-title">
                                                        <a href="{% url 'blogs:detail' pk=blog.id %}">
                                                            {{ blog.title }}
                                                        </a>
                                                    </p>
                                                    <p class="post-info">
                                                        <span>{{ blog.created_at|date:"d F Y" }}</span>
                                                        {% for author in blog.authors.all %}
                                                            <span>{{ author.full_name }}</span>
                                                        {% endfor %}
                                                        {% for category in blog.categories.all %}
                                                            <span>
                                                                <a href="?category={{ category.id }}">
                                                                    {{ category.title }}
                                                                </a>
                                                            </span>
                                                        {% endfor %}
                                                    </p>
                                                    <p class="description">
                                                        {{ blog.short_description }}
                                                    </p>
                                                    <span class="view-more">
                                                        <a href="{% url 'blogs:detail' pk=blog.id %}">
                                                            {% trans 'VIEW MORE' %}
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <p>{% trans 'No blogs found' %}</p>
                                        {% endfor %}

                                        <!-- pagination -->
                                        <div class="page-list col">
                                            <ul class="justify-content-center d-flex">
                                                <li>
                                                    <a rel="prev" href="#" class="previous js-search-link">
                                                        {% trans 'Previous' %}
                                                    </a>
                                                </li>
                                                <li class="current active">
                                                    <a rel="nofollow" href="#" class="js-search-link">1</a>
                                                </li>
                                                <li>
                                                    <a rel="nofollow" href="#" class="js-search-link">2</a>
                                                </li>
                                                <li>
                                                    <a rel="next" href="#" class="next js-search-link">
                                                        {% trans 'Next' %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}